.borrow-banner{
  width:100%;
}
.borrow-nav-item{
  display: block;
  width:90%;
  margin:20px auto 0 auto;
  background-color:#fff;
  padding:20px;
  box-sizing: border-box;
  overflow: hidden;

  .borrow-nav-icon{
    width:84px;
    height:84px;
    background:url('/static/img/borrow_icon.png');
    background-size: 100%;
    float: left;
    &.icon2{
      background-position:0 -84px;
    }
  }
  .borrow-nav-info{
    float: left;
    margin-left:15px;
    width:60%;
    >h2{
      font-size:18px;
      font-weight:normal;
      color:#333;
      margin-bottom:5px;
    }
    >p{
      font-size:14px;
    }
  }
}

.borrow-product-item{
  display: block;
  width:100%;
  margin:10px auto 0 auto;
  background-color:#fff;
  padding:10px;
  box-sizing: border-box;
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
  &:last-child{
    margin-bottom:10px;
  }
  >h2{
    font-size:16px;
    font-weight:400;
    padding-left:10px;
    color:#333;
  }
  >div{
    overflow: hidden;
    font-size:14px;
    >div{
      float: left;
      padding-top:10px;
      text-align: center;
      width:26.5%;
      p{
        margin-top:8px;
        color:#333;
        &:first-child{
          color:#999;
        }
      }
      &.part-1{
        width:20%;padding-top:0;
        >img{
          width:80%;
        }
      }
    }
  }
}

.borrow-apply-wrap{
  width:90%;
  margin:20px auto 20px auto;
  background-color:#fff;
  padding:15px;
  box-sizing: border-box;
  color:#969696;
  font-size:14px;
  >.borrow-apply-item{
    padding:5px 0;
    border-bottom:1px solid #dcdcdc;
    overflow: hidden;
    line-height:30px;
    position: relative;
    >span{
      float: right;
    }
    >label{
      float: left;
      width:100px;
    }
    .error{
      position: absolute;
      width:150px;
      text-align: right;
      top:10px;
      right:0;
    }
    input,select{
      float: left;
      text-align:left;
      font-size:14px;
      color:#969696;
      padding-left:0;
    }
    select{
      border:none;
      padding:5px 0;
      width:30%;
    }
    .error{
      color:#d60000;
      font-size:12px;
      line-height:20px;
    }
  }
}