.borrow-banner{
  width:100%;
}
.borrow-nav-item{
  width:90%;
  margin:20px auto 0 auto;
  background-color:#fff;
  padding:20px;
  box-sizing: border-box;
  overflow: hidden;

  .borrow-nav-icon{
    width:84px;
    height:84px;
    background:url('/static/img/borrow_icon.png');
    background-size: 100%;
    float: left;
    &.icon2{
      background-position:0 -84px;
    }
  }
  .borrow-nav-info{
    float: left;
    margin-left:15px;
    width:60%;
    >h2{
      font-size:18px;
      font-weight:normal;
      color:#333;
      margin-bottom:5px;
    }
    >p{
      font-size:14px;
    }
  }
}