.base-button{
  width:90%;
  text-align:center;
  line-height:40px;
  background-color:#e3aa00;
  border-radius:5px;
  color:#fff;
  margin:0 auto;
}

.register{
  border:1px solid #004fa3;
  background:none;
  color:#004fa3;
}