@color6:#e3aa00;
@blue:#004fa3;
@huise:#d6d7dc;
@color7:#e3be4f;
@red:#e60000;
.financial-ul{
  padding-bottom:20px;
    li,.financial-li{
      width:100%;
      display: block;
      padding:10px;
      margin:10px auto 0 auto;
      background-color:#fff;
      position: relative;
      box-sizing: border-box;
      border-top:1px solid #e6e6e6;
      border-bottom:1px solid #e6e6e6;

      >span{
        position: absolute;
        right:10px;
        top:10px;
        font-size:14px;
        >b{
          font-weight:normal;
          color:@blue;
        }
      }
      >a{
        >span{
          position: absolute;
          right:10px;
          top:10px;
          font-size:14px;
          >b{
            font-weight:normal;
            color:@blue;
          }
        }
      }
      h2{
        font-size:18px;
        font-weight:normal;
        color:#333;
        padding-bottom:5px;
        border-bottom:1px solid @huise;
        width:100%;
        height:24px;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        >span{
          font-size:12px;
          padding:0 5px;
          margin-left:5px;
          border-radius:3px;
          &.blue{
            color:@blue;
            border:1px solid @blue;
          }
          &.red{
            color:#cd0000;
            border:1px solid #cd0000;
          }
        }

      }
      >i,a>i{
        display: block;
        width:50px;
        height: 50px;
        background:url("/static/img/invest-item-bg.png") no-repeat;
        background-size: 100%;
        position: absolute;
        right:0;
        top:-3px;
        font-style: normal;
        color:#fff;
        font-size:12px;
        >span{
          position: absolute;
          transform:rotate(45deg);
          right:2px;
          top:10px;
        }
        &.i-2{
          top:0;
          background-image: url('/static/img/invest-item-bg-2.png');
        }
        &.i-3{
          top:0;
          background-image: url('/static/img/invest-item-bg-3.png');
        }
      }
      >div,>a>div{
        width:100%;
        overflow: hidden;
        >div{
          text-align: center;
          float: left;
          color:#646464;
          padding:10px 0;
          &.part-1{
            width:30%;
            .p1{
              color:@red;
              font-size:36px;
              height:40px;
              line-height:40px;
            }
            .p2{
              margin-top:10px;
            }
            .p3{
              color:@red;
              font-size:40px;
              text-align: center;
              margin-top:10px;
              >span{
                font-size:16px;
              }
            }
          }
          &.part-2{
            width:40%;
            .p1{
              line-height:40px;
              height:40px;
              font-size:16px;
              >span{
                font-size:36px;
              }
            }
            .p2{
              margin-top:10px;
            }
            .p3{
              text-align: left;
              font-size:14px;
              margin-top:10px;
              color:#666;


              >span{
                color:#999;
              }
            }
          }
          &.part-3{
            width:30%;
            a{
              display: block;
              width:80px;
              height:30px;
              line-height:30px;
              color:#fff;
              margin:20px  auto 0 auto;
              border-radius:5px;
              background-color:@red;
            }
            .back-on{
              width:80px;
              height: 80px;
              background-color:#f0f0f0;
              border-radius:50%;
              overflow: hidden;
              margin:0 auto;
              >i{
                display: block;
                width:36px;
                height:36px;
                background:url("/static/img/product-icon-1.png") no-repeat;
                background-size:100%;
                margin:10px auto 5px auto;
                &.i2{
                  background-position:0 -36px;
                }
              }
              >p{
                font-size:14px;
              }
            }
          }
          &.has-img{
            width:80px;
          }
          &.part-4{
            width:70%;
            text-align:left;
            &.borrow-part-4{
              p{
                overflow: hidden;
                span{
                  display: block;
                  width:33%;
                  float: left;
                  text-align: center;
                }
                &.p2{
                  overflow: hidden;
                  color:#666;
                  font-size:12px;
                  margin-top:20px;
                }
              }
            }
          }
        }
      }
    }
    li.li-nav{
      ul{
        height:25px;
        li{
          width:25%;
          padding:0;
          float:left;
          height:25px;
          margin-top:0;
          text-align:center;
          &.active{
            color:@color6;
          }
          i{
            display: inline-block;
            width:12px;
            height:25px;
            background:url("/static/img/arrow-icon.png") no-repeat;
            background-size:100%;
            &.up{
              background-position:0 -25px;
            }
            &.down{
              background-position:0 -50px;
            }
          }
        }
      }

    }
}
.financial-box{
  position: relative;
}
.financial-nav{
  width:100%;
  overflow: hidden;
  margin:10px auto 0 auto;
  padding:10px;
  background-color:#fff;
  >li{
    float: left;
    width:24%;
    height:25px;
    line-height:25px;
    overflow: hidden;
    border-left:1px solid #e6e6e6;
    text-align: center;
    &:first-child{
      border-left:none;
    }
    &.active{
      color:@red;
      &.up i{
        background-position:0 -25px;
      }
      &.down i{
        background-position:0 -50px;
      }
    }
    >span{
      float: left;
      margin-left:15px;
    }
    i{
      display: inline-block;
      width:12px;
      height:25px;
      background:url("/static/img/arrow-icon.png") no-repeat;
      background-size:100%;
      margin-left:5px;

    }
  }
}
.progressbar{
  float: right;
  margin-right:10px;
  .progressbar-text{
    font-size:20px;
    >span{
      font-size:14px;
    }
  }
}

.product-wrap{
  background: linear-gradient(to right bottom, #e50000 , #ff6600);
  overflow: hidden;
  padding-bottom:15px;
  .ll{
    padding:30px 0 30px 30px;
    text-align: left;
    color:#fff;
    >h2{
      color:#fff;
      text-align: center;
      font-weight:normal;
      margin-left:-30px;
      margin-top:-15px;

    }
    >.p1{
      >.s1{
        font-size:72px;
      }
    }
  }
  .account-wrap{
    padding:10px 0;
    position: relative;
    border-top:1px solid #f3774d;
    width:90%;
    margin:0 auto;
    >div.limit-wrap{
      position: absolute;
      right:20px;
      top:-60px;
      text-align: right;
      >.p1,>.p2{
        font-size:14px;
      }



    }
    >div{
      width:50%;
      position: relative;
      text-align: center;
      float: left;
      color:#fff;
      >.line-2{
        height:40px;
        border-right:1px solid  #f3774d;
        position: absolute;
        right:0;
        top:5px;
      }
      >.p1{
        font-size:14px;
      }
      >.p2{
        font-size:24px;
      }
    }
  }
}
.product-s1-wrap{
  overflow: hidden;
  background-color:#fff;
  padding:20px;
  >.product-s1{
    overflow: hidden;
    font-size:14px;
    text-align: center;
    margin:10px 0;
    >i{
      float: none;
      margin:0 auto;
      width:50px;
      height:50px;
      &.i1{
        background: url("/static/img/icon2.png") no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
      }
      &.i2{
        background: url("/static/img/icon2.png") 0 -50px no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
      }
    }
    >p{
      margin:0px 0;
      font-size:12px;
    }
    >.money{
      font-size: 12px;
      color:#ff6600;
    }
  }
}

.product-scroll-wrap{
  height:100%;
  overflow: hidden;
  position: relative;
  width:auto;
  ul{
    float: left;
    overflow: hidden;
    height:100%;
    >:first-child{
      background:url(/static/img/line-first.png) bottom no-repeat;
      background-size:100%;
    }
    >li{
      width:75px;
      float: left;
      text-align:center;
      height:100%;
      background:url(/static/img/line.png) bottom no-repeat;
      background-size:100%;
      >span{
        display: block;
        text-align: center;
        margin-top:110px;
        font-size:12px
      }
    }
  }
}
.product-scroll-abs-box{
  position: absolute;
  top:10px;
  text-align: center;
  input{
    font-size:20px;
    color:#ff6600;
    width:150px;
    font-weight: bold;
    text-align: center;
    border-bottom:1px dashed #dcdcdc;
  }
  >p{
    font-size:18px;
  }
  >p.p2{
    padding:5px 0;
  }
  >.line{
    position: absolute;
    left:50%;
    top:77px;
    width:1px;
    height:63px;
    margin-left:-1px;
    border-left:1px solid #ff6600;
  }
}
.level-2-wrap{
  .index-date-line{
    height:45px;
  }
  .edun-tip{
    width:160px;
    overflow: hidden;
    padding:10px 0;
    margin:0 auto;
    >i{
      display: block;
      width:30px;
      height:30px;
      background:url("/static/img/icon_edun.png") no-repeat;
      background-size:100%;
      float: left;
    }
    >span{
      float: left;
      display: block;
      height:30px;
      line-height:30px;
      color:#ccc;
    }
  }
}
.product-button-wrap{
  margin:20px 0 100px 0;

}
.product-s1-detail{
  font-size:14px;
  >:first-child{
    margin-top:20px;
  }
}
.product-text-item{
  padding:15px;
  border-top:1px solid #dcdcdc;
  border-bottom:1px solid #dcdcdc;
  background-color:#fff;
  margin-bottom:-1px;
  overflow: hidden;
  &.no-bg{
    background:none;
    border:none;
    margin-top:0!important;
  }
  >span{
    display: block;
    float: left;
    &.s2{
      width:65%;
      margin-left:15px;
      color:#666;
      &.text-right{
        text-align: right;
        float: right;
        margin-left:0;
      }
    }
    &.s3{
      width:auto;
      margin-left:0;
      margin-top:10px;
    }
  }
}

.shopping-window{
  position: fixed;
  width:100%;
  top:100%;
  background-color:#fff;
  left:0;
  transition: all .3s;
  box-sizing: border-box;
  padding-top:15px;
  z-index:991;
  h3{
    text-align: center;
    margin-bottom:10px;
  }
  .base-button{
    width:100%;
    border-radius:0;
  }
  .input-wrap{
    overflow: hidden;
    position: relative;
    width:80%;
    margin:0 auto;
    padding:10px 0;
    >span{
      display: block;
    }
    .input-wrap-text-1{
      float: left;
    }
    .input-wrap-2{
      color:#e60000;

    }
    input{
      position: absolute;
      left:0;
      top:10px;
      height:38px;
      line-height:38px;
      width:100%;
      text-align:center;
      font-size:14px;
      z-index:1;
      border-top:1px solid #e6e6e6;
      border-bottom:1px solid #e6e6e6;

    }
    >.control{
      display: block;
      width:40px;
      height:40px;
      position: relative;
      z-index:2;
      &.minus{
        background:url("/static/img/minus.png") no-repeat;
        background-size:100%;
        float: left;
      }
      &.add{
        background:url("/static/img/add.png") no-repeat;
        background-size:100%;
        float: right;



      }
    }
  }
}

/*优选服务*/
.project-invest-wrap{
  padding:0 0 10px 0;
  background-color:#fff;
  >h2{
    font-weight:normal;
    width:90%;
    margin:0 auto;
    padding:10px 0;
    font-size:18px;
    border-bottom:1px solid #f0f0f0;
  }
  >.sq{
    position: absolute;
    width:100%;
    height:251px;
    background:url("/static/img/sq.png") no-repeat center;
    background-size: 50%;
    z-index:15;
    top:0;
    display: none;
  }
  .project-invest-info{
    overflow: hidden;
    padding:20px 0;
    >div{
      box-sizing: border-box;
      float:left;
      width:50%;
      &.part-left{
        padding-left:20px;
        >.p1{
          color:#646464;
          font-size:14px;
        }
        >.p2{
          color:#e60000;
          font-size:52px;
          >span.f14{
            font-size:14px;
          }
        }
      }
      &.part-right{
        padding-right:20px;
        padding-top:40px;
        text-align: center;
        >.p1{
          color:#666
        }
        >.p2{
          color:#999;
          font-size:14px;
          margin-top:5px;

        }
      }
    }
  }
  .project-invest-progress{
    box-sizing: border-box;
    padding:0 20px;
    margin:20px 0;
    >.project-invest-progress-max{
      width:80%;
      height:7px;
      border:1px solid #e60000;
      border-radius:5px;
      position: relative;
      >.project-invest-progress-current{
        position: absolute;
        height:100%;
        width:0;
        left:0;
        top:0;
        border-radius:5px;
        background-color:#e60000;
        transition: all .5s;
      }
      >span{
        display: block;
        position: absolute;
        right:-40px;
        top:-5px;
        height:15px;
        width:25px;
        font-size:12px;
        color:#ee442a;


      }
    }
  }
  .project-money-info{
    padding:5px 20px;
    overflow: hidden;
    >div{
      float: left;
      width:50%;
      font-size:14px;


      color:#646464;
      &.d1{
        >span{
          color:#333;
        }
      }
      &.d2{
        text-align: left;
        >span{
          color:#ff4343;
        }
      }
    }
  }
  .project-money-info-2{
    padding:10px 20px 0 20px;
    font-size:14px;

    >p{
      margin-bottom:10px;
      color:#333;
      >.s1{
        color:#ff4343;
        margin:0 5px;
      }
      >.s2{
        color:#646464
      }
    }
  }
}

/* 交易结果 */
.deal-success-wrap{
  width:90%;
  margin:35px auto 20px auto;
  border:1px solid #d6d7dc;
  overflow: hidden;
  border-radius:5px;
  background-color:#fff;
  >.deal-success-item{
    overflow: hidden;
    padding:10px;
    border-bottom:1px solid #d6d7dc;
    &:last-child{
      border:none;
    }

  }
}
.deal-result-container{
  >.deal-result-top{
    text-align:center;
    margin-top:50px;
  }
}


/*投资确认页*/
.invest-confirm-wrap{
  .invest-confirm-information{
    background-color:#fff;
    padding:20px;
    p{
      padding:5px;
      overflow: hidden;
      span{
        display: block;
        width:50%;
        float: left;
      }
      &.p1{
        width:100%;
        height:24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom:10px;
        border-bottom:1px solid #e6e6e6;
      }
      &.p2{
        color:#666;
        text-align: center;
      }
      &.p3{
        text-align: center;
      }
    }
  }
  .invest-confirm-content{
    margin:15px 0;
    .money{
      color:#e60000!important;

    }
  }
  .invest-confirm-pay{
    margin-top:30px;
  }
}
.money{
  color:#ff4343;
}

.select-coupon-item{
  margin-top:15px;
  padding:0 10px;
  overflow: hidden;
  >.select-coupon-selector{
    float: left;
    width:20%;
    height:100%;
    >div{
      width:30px;
      height:30px;
      margin:50% auto;
      border:1px solid #d7d8dd;
      border-radius:50%;
      &.selected{
        background:url("/static/img/tick.png") no-repeat center #ff4343;
        background-size:50%;
        border-color:#ff4343;
      }
    }
  }
}
.coupon-type-2{
  width:80%;
  height:110px;
  float: right;
  >.part-1{
    color:#fff;
    width:66.7%;
    height:100%;
    float: right;
    font-size:12px;
    position: relative;
    >img{
      width:100%;
      height:100%;
    }
    >div {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      >p{
        margin-top:10px;
        padding-left:5px;
      }
    }
  }
  >.part-2{
    float: left;
    height:100%;
    width:33.3%;
    background-size:100%;
    text-align: center;
    position: relative;
    >img{
      width:100%;
      height:100%;
    }
    >div{
      position: absolute;
      width:100%;
      height:100%;
      left:0;
      top:0;
      >p{
        text-align: center;
        &.p1{
          font-size:22px;
          margin-top:30%;
        }
        &.p2{
          font-size:14px;
        }
      }
    }

  }
  &.type2{
    >.part-2{
      >div{
        >p{
          color:#666
        }
      }
    }
  }
}