@color7:#e3be4f;
@huise:#d6d7dc;
@blue:#004fa3;
.my-wrap{
  overflow: hidden;
  width:100%;
}

.my-info-top{
  background: linear-gradient(to right bottom, #e50000 , #ff6600);
  padding:20px 0 0 0;
  >.my-avatar-wrap{
    padding:15px 0 0 0;
    text-align: center;
    color:#fff;
    >h2{
      font-size:28px;
    }
    >p{
      margin-top:10px;
      padding-bottom:15px;
    }
  }
}
.my-info-bottom{
  background-color:#fff;
  padding:15px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  border-bottom:1px solid #e6e6e6;
  button{
    background:none;
    padding:7px 40px;
    margin:0 auto;
    font-size:14px;
    &.btn-1{
      background-color:#ff6600;
      border-radius:5px;
      color:#fff;
      margin-right:10px;
      &.disabled{
        background:@huise;
        color:#fff;
      }
    }
    &.btn-2{
      border-radius:5px;
      color:#fff;
      background-color:#e60000;
    }
  }
  >div{
    width:50%;
    float: left;
  }
}

.my-account-wrap{
  overflow: hidden;
  background-color:#fff;
  margin-top:20px;
  border-bottom:1px solid #f0f0f0;
  >div{
    width:50%;
    float:left;
    padding:10px 0;
    position: relative;

    >p.p1{
      color:#666;
      font-size:14px;
    }
    >.p2{
      font-size:16px;
      color:#333;
      margin-top:5px;
    }
    >.line-2{
      position: absolute;
      height:45px;
      border-right:1px solid #f0f0f0;
      right:0;
      top:15px;

    }
  }
}
.tip-section{
  background-color:#fff7d1;
  border:none;
  margin:10px 0 -20px 0;
  text-align:center;
  a{
    display: block;
    text-align: center;
    line-height: 40px;
  }
}
.tip-section-2{
  width:90%;
  margin:15px auto;
  line-height:25px;
  color:#666;
  font-size:14px;
}

.my-btn-wrap{
  margin:20px 0;
  background-color:#fff;
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
}
.my-exit-wrap{
  text-align: center;
  >.my-exit-btn{
    width:90%;
    background:#e60000;
    border-radius:5px;
    color:#fff;
    text-align: center;
    margin:0 auto;
    line-height:40px;
    font-size:18px;
  }
}
.my-team-wrap{
  width:100%;
  background:#fff;
  font-size:14px;

  >.my-team-summary{
    width:100%;
    height:200px;
    background: linear-gradient(to right bottom, #e50000 , #ff6600);
    >div{
      text-align: center;
      padding-top:50px;
      font-size:42px;
      color:#fff;
      >span{
        font-size:16px;
        margin-left:5px;
      }
    }
    >p{
      margin-top:10px;
      color:#fff;
      font-size:16px;
      text-align: center;
    }
  }
  >.my-team-item{
    display: block;
    margin-top:-1px;
    overflow: hidden;
    &:first-child{
      >.m-item-a{
        border:none;
      }
    }
    >.m-item-a{
      display: block;
      overflow: hidden;
      width:90%;
      margin:0 auto;
      padding:10px 0 10px 0;
      border-top:1px solid #d6d7dc;
    }
    span{
      display:block;
      line-height: 30px;
      float: left;
      &.s2{
        float: right;

      }
    }
  }
}
.my-team-tit,.my-team-list-item,.com-list-tit,.com-list-item{
  width:90%;
  margin:10px auto;
  overflow: hidden;
  padding:5px 0;
  span{
    display: block;
    float: left;
    width:25%;
    text-align: center;
    font-size:14px;
  }
  .status{
    display: inline-block;
    padding:3px 10px;
    background-color:#ccc;
    border-radius:10px;
    font-style: normal;
    color:#fff;
    &.active{
      background-color:#1fe2ff;
    }
  }
  &.col-3{
    span{
      width:33.3%;
    }
  }
}
.my-team-list-item,.com-list-item{
  width:100%;
  padding:20px 0;
  background-color:#fff;
  border-bottom:1px solid #dcdcdc;
  border-top:1px solid #dcdcdc;
  margin-top:-1px;
  margin-bottom:0;
}


/*提成清单*/
.select-wrap{
  background-color:#fff2cc;
  position: relative;
  width:100%;
  height:50px;
  .select-value{
    background: linear-gradient(to right bottom, #e50000 , #ff6600);
    display: block;
    position: absolute;
    width:100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    left:0;
    top:0;
    color:#fff;
    
    z-index:1;
    >span{
      position: relative;
      i{
        display: block;
        width:13px;
        height:8px;
        background-size: 100%;
        position: absolute;
        right:-20px;
        top:7px;
      }
    }
  }
  >select{
    border:none;
    width:100%;
    height:50px;
    position: absolute;
    left:0;
    top:0;
    z-index:2;
    opacity:0;
  }
}
.royalty-item{
  color:#969696;
  width:90%;
  box-sizing: border-box;
  margin:10px auto 0 auto;
  height:60px;
  overflow: hidden;
  border:none;
  padding:10px;
  background-color:#fff;
  &.active{
    height:auto;
    overflow: visible;
    .icon{
      transform:rotate(-90deg)
    }
  }
  p{
    overflow: hidden;
  }
  .icon{
    float: right;
    margin-top:5px;
  }
  span{
    float: left;
    line-height:30px;
  }
  .month{
    display: block;
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background-color:#e50000;
    color:#fff;
    border-radius:50%;
    margin-right:5px;
  }
  .s1{
    width:40px;
    margin-top:5px;
  }
  .s3{
    width:33%;
    text-align:center;
    margin-top:5px;
  }
}

/*deal record*/
.my-deal-record-item,.invest-record-item,.return-plan-record-item{
  border-top:1px solid #dcdcdc;
  border-bottom:1px solid #dcdcdc;
  margin-top:-1px;
  background-color:#fff;
  font-size:14px;
  >.my-deal-record-info{
    padding:10px;
    p{
      overflow: hidden;
      line-height:30px;
    }
    .my-deal-record-money{
      color:#ff4343;
      float: left;
    }
    .my-deal-record-status{
      float: right;

    }
    .my-deal-record-order-id{
      display: inline-block;

    }
  }
}


/*investmentRecord*/
.invest-record-wrap{
  padding-bottom:20px;
}
.invest-record-item{
  padding:10px 0;
  position: relative;
  width:95%;
  margin:10px auto 0 auto;
  box-sizing: border-box;
  border:1px solid #dcdcdc;
  >div[class^='invest-type-icon']{
    width:35px;
    height:35px;
    position: absolute;
    left:-2px;
    top:-2px;
  }
  >div.invest-type-icon-0{
    background:url("/static/img/invest-item-bg.png");
    background-size:100%;
  }
  >div.invest-type-icon-1{
    background:url("/static/img/invest-item-bg-2.png");
    background-size:100%;

  }
  >div.invest-type-icon-2{
    background:url("/static/img/invest-item-bg-3.png");
    background-size:100%;

  }
  >.invest-record-info{
    width:95%;
    margin:0 auto;
    background-color:#fff;
    >p{
      overflow: hidden;
      &.p1{
        padding-bottom:10px;
        border-bottom:1px solid #dcdcdc;
      }
      &.p2{
        font-size:14px;
        margin-top:10px;
        color:#969696;
        overflow: hidden;
      }
    }
    em{
      font-style: normal;
      float: left;
    }
    .item-record-detail{
      .em1{
        display: block;
        width:80px;
      }
      overflow: hidden;
      text-align:center;
      >div{
        float: left;
        width:33.3%;
        p{
          margin:10px 0 0 0;
        }
      }
    }
    .invest-record-title{
      width:70%;
      height:23px;
      white-space:nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left:15px;
      >.invest-record-title-tip{
        padding:2px 5px;
        color:#fff;
        background-color:#ff6600;
        font-size:12px;
        margin-left:10px;
      }
    }
    .operation{
      color:#e60000
    }
    .invest-record-money{
      color:#ff4343
    }
  }
  &.active{
    height:auto;
    overflow: visible;
    .icon-arrow-down-1{
      transform:rotate(-90deg);
    }
  }
}

/*我的回款*/
.return-plan-record-item{
    border:none;
    margin-top:10px;
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
  >.return-plan-record-info{
    padding:10px;
    .return-plan-h2{
      font-size:16px;
      font-weight:normal;
      color:#333;
      padding-bottom:10px;
      border-bottom:1px solid #e6e6e6;
      overflow: hidden;
      width:100%;
      height:30px;
      white-space:nowrap;
      box-sizing: border-box;
      text-overflow:ellipsis;

    }
    p{
      overflow: hidden;
      font-size:14px;
      margin-top:10px;
      color:#666;
      span{
        display: block;
        width:25%;
        float:left;
        text-align: left;
      }
    }
  }
}


/*二维码*/
.invitation-wrap{
  width:90%;
  background-color:#fff;
  padding-bottom:20px;
  margin:20px auto 0 auto;
  .part-1{
    background-color:#e60000;
    padding:20px;
    text-align: center;

  }
  .part-2{
    text-align: center;
    padding:20px 0;
    p.p1{
      color:#333
    }
    p.p2{
      font-size:14px;
    }
    p.p3{
      font-size:12px;
      color:#666;
      text-align:center;
      width:90%;
      margin:0 auto;
    }
    .code{
      width:150px;
      height:150px;
      margin:10px auto;
    }
    input{
      text-overflow: ellipsis;
      color:#e60000;
    }
  }
}


/*我的礼券*/
.icon-button-wrap > .icon-button-con > .icon-arrow-wrap > span{
  color:#e60000;
}
.gift-list-item {
  width:90%;
  margin:10px auto 0 auto;
  height:100px;
  font-size:12px;
  position: relative;
  >.part-left{
    float: left;
    width:30%;
    height:100%;
    position: relative;
    color:#fff;
    >p{
      position: absolute;
      width:100%;
      line-height:100px;
      text-align: center;
      font-size:36px;
      left:0;
      top:0;
      >span{
        font-size:14px;
      }
    }
    >img{
      width:100%;
      height: 100%;
    }
  }
  >.part-right{
    width:70%;
    float: left;
    height:100%;
    position: relative;
    >.info{
      position: absolute;
      left:0;
      top:0;
      >h3{
        font-weight:normal;
        color:#333;
        margin:8px 0 0 15px;
      }
      >p{
        margin:5px 0 0 15px;
        color:#666;
        &.red{
          color:#e60000;
        }
      }
    }
    >img{
      height: 100%;
      width:100%;
    }
  }
  .abs{
    display: none;
  }
  &.type2,&.type3{
    .abs{
      display: block;
      position: absolute;
      padding:0 10px;
      line-height:15px;
      font-size:12px;
      height:15px;
      background-color:#e60000;
      color:#fff;
      text-align: center;
      bottom:0;
      right:0;
      border-top-left-radius: 15px;
    }
  }
  &.type3{
    .abs{
      background-color:#ccc;
    }
  }
}

/*w我的投资*/
#select-product-wrap{
  width:100%;
  color:#969696;
  padding:20px;
  box-sizing: border-box;
  background-color:#efeff4;
  .rebuy-direction-btn{
    text-align: right;
    margin-top:10px;
  }
}
.select-product-item{
  border:1px solid #dcdcdc;
  background-color:#fff;
  padding:10px;
  overflow: hidden;
  border-radius:5px;
  margin-top:15px;
}
.select-product-item>span{
  display: block;
  width:33.3%;
  float: left;
}
.select-product-item>span.s2{
  text-align: center;
}
.select-product-item>span.s3{
  text-align:right;
  color:#ff4343;
}
.select-product-item.selected{
  border-color:#e3aa00;
  background:url("/static/img/invest_selected.png") bottom right #fff no-repeat;
}


/*实名认证*/
.authentication-wrap{
  width:90%;
  margin-left:5%;
  margin-top:20px;
  height:100%;
  .step-title{
    border:1px solid #b4b4b4;
    background-color:#b4b4b4;
    color:#fff;
    text-align:center;
    padding:10px 0;
    display: none;
    &.active{
      display: block;
      border-color:#e3aa00;
      color:#e3aa00;
      background-color:#fff;
    }
  }
  .step-content{
    margin:10px auto;
    padding-bottom:10px;
    display: none;
    &.active{
      display:block;
    }
    >p{
      width:95%;
      margin:5px auto;
    }
    >select{

    }
    .authenticationInput{
      margin:0 auto;
      float: none;
    }
    .bink-bank-address-wrap{
      overflow: hidden;
      width:95%;
      margin:0 auto;
      >select{
        width:50%;
        float: left;
      }
    }
  }
}


/*查看债权*/
.creditor-list-wrap{
  .creditor-list-item{
    width:100%;
    margin:10px auto;
    background-color:#fff;
    overflow: hidden;
    padding:5px 10px;
    box-sizing: border-box;
    font-size:14px;
    >h2{
      font-weight: normal;
      font-size:18px;
      border-bottom:1px solid #dcdcdc;
      padding-bottom:5px;
      margin-bottom:5px;
    }
    >p{
      padding:5px 0;
      &.p1{
        color:#666;
      }
      &.p2>.red{
        color:#ff4343
      }
      &.p3{
        color:#666;
      }
    }
    >p.p1,p.p2{
      overflow: hidden;
      text-align: center;
      >span{
        display: block;
        width:33.3%;
        float: left;
      }
    }
  }
}
.creditor-detail-wrap{
  padding:10px;
  background-color:#fff;
  font-size:14px;
  h2{
    text-align:center;
    font-size:14px;
    font-weight:normal;
  }
  p{
    overflow: hidden;
    padding:5px 0;
    color:#666;
    &.money{
      font-size:18px;
      text-align: center;
      margin-top:20px;
      font-weight: bold;
      color:#333;
    }
    &.p1{
      text-align:center;
    }
  }
}


/*个人资料*/
.personal-top{
  width:100%;
  height:200px;
  background:linear-gradient(to right bottom, #e50000, #ff6600);
  text-align: center;
  >img{
    margin-top:50px;
  }
  >.level{
    font-size:14px;
    color:#fff;
    margin-top:7px;
  }
}