@color7:#e3be4f;
@huise:#d6d7dc;
@blue:#004fa3;
.my-wrap{
  overflow: hidden;
  width:100%;
}

.my-info-top{
  background-color:#e3be4f;
  padding:40px 0 0 0;
  >.my-avatar-wrap{
    padding:15px 0 0 0;
    text-align: center;
    color:#fff;
    >h2{
      font-size:28px;
    }
    >p{
      margin-top:10px;
      padding-bottom:15px;
    }
  }
}
.my-info-bottom{
  background-color:#fff;
  padding:15px;
  overflow: hidden;
  text-align: center;
  >.part-1{
    color:#333;
    width:30%;
    float: left;
    text-align: left;
  }
  >.part-2{
    width:70%;
    float: right;
    margin-top:5px;
    >a{

      padding:5px 30px;
      float: right;
      &.btn-1{
        border:1px solid #d6d7dc;
        border-radius:5px;
        color:#004fa3;
        margin-right:10px;
      }
      &.btn-2{
        border-radius:5px;
        color:#fff;
        background-color:#e3aa00;

      }
    }
  }
}

.my-info-top{
  background-color:@color7;
  padding:40px 0 0 0;
  >.my-avatar-wrap{
    padding:15px 0 0 0;
    text-align: center;
    color:#fff;
    >h2{
      font-size:28px;
    }
    >p{
      margin-top:10px;
      padding-bottom:15px;
    }
  }
}
.my-info-bottom{
  background-color:#fff;
  padding:15px;
  overflow: hidden;
  text-align: center;
  >.part-1{
    color:#333;
    width:30%;
    float: left;
    text-align: left;
  }
  >.part-2{
    width:70%;
    float: right;
    margin-top:5px;
    >a{

      padding:5px 30px;
      float: right;
      &.btn-1{
        border:1px solid @huise;
        border-radius:5px;
        color:@blue;
        margin-right:10px;
      }
      &.btn-2{
        border-radius:5px;
        color:#fff;
        background-color:#e3aa00;

      }
    }
  }
}

.my-account-wrap{
  overflow: hidden;
  background-color:#d4af3f;
  margin-top:20px;
  >div{
    width:33.3%;
    float:left;
    padding:10px 0;
    position: relative;
    >.p2{
      font-size:14px;
    }
    >.line-2{
      position: absolute;
      height:30px;
      border-right:1px solid #fff;
      right:0;
      top:15px;
    }
  }
}
.tip-section{
  background-color:#fff7d1;
  border:none;
  margin:10px 0 -10px 0;
  a{
    text-align: center;
    line-height: 30px;
  }
}

.my-btn-wrap{
  margin:30px 0;
  background-color:#fff;

}
.my-exit-wrap{
  text-align: center;
  >.my-exit-btn{
    width:90%;
    background:none;
    border-radius:5px;
    border:1px solid #e3aa00;
    color:#e3aa00;
    text-align: center;
    margin:0 auto;
    line-height:40px;
    font-size:18px;
  }
}

