.safe-wrap{
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:#f8f4ec;
  z-index:2;
  >.carousel{
    height:100%;
    >div{
      height:100%;
    }
  }
  .carousel-dots{
    padding:5px 5px 5px 0;
    overflow: hidden;
    position: fixed;
    bottom:15px;
    border-radius:10px;
    >.dot{
      width:10px;
      height:10px;
      border-radius:50%;
      background-color:#fff;
      float: left;
      margin-left:8px;
      opacity:0.5;
      &.active{
        opacity:1;
      }
    }
  }
}
div[class^="safe-item"]{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  >img{
    width:100%;
    height:100%;
  }
  >p{
    position: absolute;
    width:100%;
    bottom:60px;
    font-size:16px;
    text-align:center;
    color:#e3aa00;
  }
}
