.selector-wrap{
  background-color:#fff;
  border-bottom:1px solid #e6e6e6;
  display:flex;
  position: relative;
  z-index:2;
  font-size:14px;
  .selector-overlay{
    position: fixed;
    left:0;
    top:0;
    background-color:#000;
    opacity:0.6;
    width:100%;
    height:100%;
    z-index:1;
    display: none;

    &.show{
      display: block;
    }
  }
  >.selector-title-item{
    height:44px;
    line-height:44px;
    flex:1;
    position: relative;
    background-color:#fff;
    z-index:2;
    >.selector-title-item-txt{
      height:30px;
      line-height:30px;
      text-align: center;
      width:100%;
      box-sizing: border-box;
      border-right:1px solid #e6e6e6;
      margin-top:7px;
      >span{
        display: inline-block;
        margin-right:6px;
      }
      >i{
        display: inline-block;
        line-height:13px;
        width:13px;
        height:13px;
        font-size:0;
        background:url("/static/img/arrow_up.png");
        background-size:100%;
        transition: all .3s;
        -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
        transform:rotate(180deg);
      }
      &.active{
        color:#ff3000;
        >i{
          background:url("/static/img/arrow_down.png");
          background-size:100%;
          -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
          transform:rotate(0deg);
        }
      }
    }
    &:last-child{
      >.selector-title-item-txt{
        border:none;
      }
    }
  }
  .selector-group-items{
    position: fixed;
    background-color:#fff;
    display: none;
    left:0;
    top:44px;
    border-top:1px solid #e6e6e6;
    color:#666;
    z-index:2;
    >.selector-group-item{
      padding:10px;
      box-sizing: border-box;
      border-bottom:1px solid #e6e6e6;
      position: relative;
      .selected-sign{
        width:25px;
        height:25px;
        position: absolute;
        right:15px;
        top:7px;
        >img{
          width:100%;
          height:100%;
        }
      }
    }
    &.show{
      display: block;
    }
  }
}