@lineColor:#dcdcdc;
@red:#e60000;
.main-foot-nav{
  width:100%;
  position:fixed;
  border-top:1px solid #ccc;
  background-color:#fafafa;
  bottom:0;
  z-index: 1;
  >a{
      display: block;
        font-size:14px;
        float: left;
        width:25%;
        text-align: center;
        >i{
          display: block;
          width:32px;
          height:32px;
          background:url("/static/img/main-nav.png") no-repeat;
          background-size:100%;
          margin:0 auto 0 auto;
          transform: scale(.8);
        }
        >i.i1{
          background-position:0 0;
        }
        >i.i2{
          background-position:0 -64px;
        }
        >i.i3{
          background-position:0 -128px;
        }
        >i.i4{
          background-position:0 -192px;
        }
    &.active{
      >i.i1{
        background-position:0 -32px;
      }
      >i.i2{
        background-position:0 -96px;
      }
      >i.i3{
        background-position:0 -160px;
      }
      >i.i4{
        background-position:0 -224px;
      }
      color:#e50000;
    }
  }
}

.tab-wrap{
  position: relative;
  width:100%;
  height:100%;
  overflow:hidden;
}
.tab-title-items{
  width:100%;
  overflow: hidden;
  border-bottom:1px solid @lineColor;
  .tab-title-item{
    float: left;
    text-align: center;
    background:#fff;
    padding:10px 0;
    font-size:16px;
    border-top:3px solid #fff;
    &.active{
      border-top-color:@red;
      color:@red;
    }
  }

}
.tab-content-items{
  height:100%;
  .tab-content-item{
    height:100%;
    display: none;
    >div{
      height:100%;
    }
    &.active{
      display: block;
    }
  }
}
