@import './reset';

body{
  height:100%
}
@import './formInput';
@import './icon';
@import './Button';
@import './iconButton';
@import './iconInput';
@import './tabBar';
@import './level2Wrap';

@import './index';
@import './borrow';

@import './my';

.gray-bg{
  background-color:#efeff4!important;
}
.mt20{
  margin-top:20px;
}