.index-ll-wrapper .swiper-container{
    position: relative;

}
.swiper-button-prev{
    position: absolute;
    left:10px;
    top:105px;
}
.swiper-button-next{
    position: absolute;
    right:10px;
    top:105px;
}


.loading-fade-out{

    animation:fadeout 1s;
    animation-fill-mode:forwards;
}
@keyframes fadeout
{
    from {
        opacity:0.8;
        z-index:999
    }
    to {
        opacity:0;
        z-index:-1;
    }
}
.home-page{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color:#fff;
}

.show{
    display: block;
}
.hide{
    display: none;
}